@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans);
  letter-spacing: -0.8px;
  background-color: #fff0d1;
}

.bg-navbar {
  background: linear-gradient(
    90deg,
    rgba(199, 166, 99, 0.546) 0%,
    rgba(158, 101, 3, 1) 100%
  );
}

.bg-events {
  background-color: #67583b;
}

.bg-cards {
  background-color: #d6b981;
}

.border-color {
  border-color: #ffeac0;
}

.text-navbar {
  color: #ffedc9;

  &:hover {
    color: #5a3d07;
  }
}

.text-logo {
  color: #3b2802;
}
