@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans);
  letter-spacing: -0.8px;
  background-color: #fff0d1;
}

/* LETTER SPACING */

.tracking-text {
  letter-spacing: -0.9px;
}

/* BACKGROUNDS */

.bg-navbar {
  background: linear-gradient(
    90deg,
    rgb(199, 166, 99) 90%,
    rgb(99, 64, 2) 100%
  );
}

.bg-events {
  background-color: #67583b;
}

.bg-cards {
  background-color: #d6b981;
}

.bg-filter {
  background-color: #49340981;
}

.bg-button {
  background-color: #ce9728;
  &:hover {
    background-color: #805705;
  }
}

.bg-primary {
  background-color: #fff0d1;
}

.bg-secondary {
  background-color: #c69e5d;
}

/* COLOR BORDER */

.border-color {
  border-color: #ffeac0;
}


/* TEXT COLORS */

.text-navbar {
  color: #ffedc9;

  &:hover {
    color: #5a3d07;
  }
}

.text-logo {
  color: #3b2802;
}

.text-primary {
  color: #ffdfa0;
}

.text-secondary {
  color: #fff3d9;
}

.text-tertiary {
  color: #523205;
  /*   &:hover {
    color: #ffd47f;
  } */
}

.text-fourth {
  color: #825804;
}
