@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans);
  letter-spacing: -0.8px;
  background-color: #f9e5bc;
}

/* LETTER SPACING */

.tracking-text {
  letter-spacing: -0.9px;
}

/* BACKGROUNDS */

/* BACKGROUNDS COMPONENTS */

.bg-gradient {
  background: linear-gradient(
    90deg,
    rgb(194, 145, 55) 0%,
    rgb(146, 109, 36) 35%,
    rgba(158, 115, 28, 1) 100%
  );
}

.bg-hero {
  background-color: #ffd2898c;
}

.bg-filter {
  background-color: #39280590;
}

.bg-navbar {
  background: linear-gradient(
    90deg,
    rgba(255, 219, 147, 0.68) 0%,
    rgba(219, 142, 10, 0.842) 100%
  );
}

.bg-modal {
  background: linear-gradient(
    90deg,
    rgb(253, 196, 82) 0%,
    rgb(189, 121, 3) 100%
  );
}

.bg-button {
  background-color: #ce9728;
  &:hover {
    background-color: #8b6009;
  }
}

.bg-cards-secondary {
  background-color: #6e531e;
}

.bg-cards {
  background-color: #e0bc73;
}

.bg-cards-tertiary {
  background-color: #755d2e;
}

.bg-cards-fourth {
  background-color: #cba260;
}

.bg-events {
  background-color: #d6bb84;
}

.bg-footer {
  background-color: #705113;
}

/* BACKGROUND DARKS */

.bg-dark {
  background-color: #3b2802;
}

/* BACKGROUND LIGHTS */

.bg-primary {
  background-color: #fff0d1;
}

.bg-secondary {
  background-color: #c69e5d;
}

/* COLOR BORDER */

.border-color {
  border-color: #ffeac0;
}

.border-color-two {
  border-color: #986704;
}

/* TEXT COLORS ------------------ */

.text-button {
  color: #352404;
  border: 2px solid #fed990;
  &:hover {
    color: #fbd38d;
  }
}

.text-navbar {
  color: #271a02;

  &:hover {
    color: #794d01;
  }
}

.text-logo {
  color: #3b2802;
}

/* COLOR TEXT LIGHTS */

.text-primary {
  color: #ffdfa0;
}

.text-secondary {
  color: #fff3d9;
}

.text-sixth {
  color: #e1c793;
}

/* COLOR TEXT DARKS */

.text-fourth {
  color: #825804;
}

.text-tertiary {
  color: #523205;
}

.text-fifth {
  color: #2e1f00;
}
